*.o
*.so
*.py[cod]

man/pycam.1
man/pycam.1.html
docs/release-notes.md

dist
build
eggs
*.egg-info
.svn

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*~
.*.swp

# Generated mkdocs files go into the site directory
site/
