Source: pycam
Section: python
Priority: extra
Maintainer: Lars Kruse <devel@sumpfralle.de>
Build-Depends: python, debhelper (>= 9), dh-python, help2man,
 python-opengl, python-numpy, python-setuptools, python-flake8
Standards-Version: 3.9.6
Homepage: http://github.com/SebKuzminsky/pycam

Package: pycam
Architecture: all
Depends: python-gtk2, python-opengl, python-gtkglext1, python-rsvg,
 python-gobject-2, python-numpy, python-pyode, python-setproctitle,
 inkscape, pstoedit, librecad-data, ${misc:Depends}, ${python:Depends}
Recommends: python-psyco, python-guppy
Description: CAM program & Python library for generating toolpaths
 PyCAM is a toolpath generator for 3 axis machines. The generated
 GCode can be used with LinuxCNC and other machine controllers.
 The included Python library can be used independently from the GUI.
 .
 Features:
    * read and write STL model files (3D)
    * support for 2D models (DXF/SVG/PS)
    * generate toolpaths (GCode) for various strategies and drill
	  definitions
    * manage and store processing templates
    * scale, move, rotate, flip and transform the model
    * interactive 3D model view based on OpenGL
    * non-interactive generation of GCode via commandline
	* render single-line fonts (provided by QCAD)

